.footer {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.website-rights {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-icon-link {
    color: #fff;
    font-size: 24px;
    transition: all 0.2s ease-out;
}

.social-icon-link:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

@media screen and (max-width: 820px) {
    .social-media-wrap {
        flex-direction: column;
        gap: 1.5rem;
    }
}